<script setup>
    import HeaderComponent from './HeaderComponent.vue';
    import InformationComponent from './InformationComponent.vue';
</script>

<template>
    <HeaderComponent />
    <div id="information">
        <h1 id="name">Linus Richter</h1>
        <img src="../assets/me.png" alt="avatar"/>
    </div>
    <InformationComponent />
</template>

<style scoped>
    img{
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        border: 2px solid black;
    }
    #information{
        margin: 0 auto;
        padding: 1rem;
        width: 70%;
        display: flex;
        justify-content: center;
    }
    #name{
        font-weight: bold;
        color: #5364fc;
        margin-top: 3rem;
        margin-right: 1rem;
    }
</style>