<script setup>
</script>

<template>
    <div id="header">
        <h1 id="headline">
            Profile
        </h1>
    </div>
</template>


<style scoped>
    #header{
        width: 100%;
        background: #5364fc;
        text-align: center;
        padding: 1rem;
    }
    /*box-shadow: inset 3px 3px 30px black;*/
    #headline {
        font-weight: bold;
        color: aliceblue;
    }
</style>