<script setup>
</script>

<template>
    <div id="container">
        <h1 id="information">Information</h1>
        <h1 class="sub-headline">Personal Information:</h1>
        <ul id="list">
            <li>Linus</li>
            <li>Studiengang: Informatik B.Sc. </li>
            <li>Student im 5.Semester</li>
            <li>Technischen Hochschule Mittelhessen</li>
        </ul>
        <h1 class="sub-headline">Skills:</h1>
        <ul id="list">
            <li>Docker</li>
            <li>Node</li>
            <li>PHP</li>
            <li>Python</li>
        </ul>
    </div>
</template>

<style scoped>
    #container{
        margin: 0 auto;
        width: 70%;
        height: 40rem;
        background-color: #5364fc;
        border-radius: 1rem;
    }
    #information{
        color: aliceblue;
        font-weight: bold;
        width: 100;
        text-align: center;
        padding: 2rem;
        font-size: 4rem;
    }
    .sub-headline{
        color: aliceblue;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }
    p{
        color: aliceblue;
        margin: 2rem;
    }
    #list{
        margin: 2rem 5rem;
        color: white;
        font-size: 1rem;
    }
</style>
